<%- include("./partials/header") %>

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">ToDo App</a>
  </nav>

<div class="container mt-5">
    <form action="/add/todo" method="POST" class="d-flex">
        <input type="text" name="todo" class="form-control" placeholder="Enter the Text">
        <input type="submit" value="Save" class="btn btn-md btn-primary mx-2">
    </form>

    <ul class="list-group my-5">
        <% todo.forEach(todos => { %>
            <li class="list-group-item"> <%= todos.todo %> <a href="/update/todo/<%= todos._id %>" class="btn btn-danger btn-sm">Edit</a> <a href="/delete/todo/<%= todos._id %>" class="btn btn-danger btn-sm mx-2">Delete</a> </li>
       <% }) %>
      </ul>

</div>  
<%- include("./partials/footer") %>